.header {
    display: flex;
    flex-direction: column;
    position: fixed; /* Changed from sticky to fixed */
    top: 0;
    left: 0; /* Add this for proper positioning */
    width: 100%;
    z-index: 1000; /* add this */
}
.userHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid var(--color-border);
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
    width: 100%;
    backdrop-filter: blur(50px);
}

.adminHeader {
    background-color: var(--color-orange);
    width: fit-content;
    margin: 0 auto;
    border-radius: 0 0 12px 12px;
}

.logoContainer {
    flex-shrink: 0;
    width: 10rem; /* Fixed width for logo */
}

.logo {
    width: 100%;
    height: auto;
    display: block;
}

.navigationContainer {
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    max-width: fit-content;
    min-width: 0; /* Important for flexbox overflow */
}
.menuButton {
    display: none;
}
.buttonContainer {
    flex-shrink: 0;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.loginButton {
    display: flex;
    align-items: center;
    height: 100%;
}
@media (max-width: 768px) {
    .navigationContainer, 
    .themeToggleButton, .loginButton {
        display: none;
    }
    .menuButton {
        display: block;
    }
}