.section {
    height: fit-content;
}
.container {
    background-color: var(--color-card);
    padding: 2rem;
    border: 1px solid var(--color-border);
    border-radius: 12px;
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}