:root {
    --color-orange: #F0562D;      
    --color-white: #E5E5E5;    
    --color-off-white: #DADADA;      
    --color-black: #0E100F;
    --color-gray: #171717;
    --color-light-gray: #373737;  
    --color-light1-gray: #212121;        
    --color-light2-gray: #9DA1A1;

    --color-background: var(--color-white);
    --color-text: var(--color-black);
    --color-card: var(--color-off-white);
    --color-border: var(--color-light2-gray);
    --color-input: var(--color-off-white);
    --color-muted: var(--color-gray);

    --color-background-dark: var(--color-black);
    --color-text-dark: var(--color-white);
    --color-card-dark: var(--color-gray);
    --color-border-dark: var(--color-light-gray);
    --color-input-dark: var(--color-light1-gray);
    --color-muted-dark: var(--color-light2-gray);
}