.profilepage {
    display: flex;
    gap: 1rem;
}

.mainContainer, .sideContainer {
    display: flex;
    flex-direction: column;
}
.mainContainer {
    overflow: hidden;
}
.sideContainer {
    min-width: 400px;
}

.profileHeader {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: var(--color-card);
    border-radius: 12px;
    border: 1px solid var(--color-border);
    padding: 2rem;
}
.profileIdentity {
    display: flex;
    gap: 0.5rem;
}
.userMetadata {
    margin: auto 0;
}
.avatar {
    border-radius: 50%;
    border: 1px solid var(--color-border);
}

.headerContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.name {
    display: flex;
    gap: 0.5rem;
}
.icon {
    margin: auto 0;
    color: var(--color-orange);
}
.profileTagsContainer {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}
.tagContainer {
    padding: 0.5rem 0.75rem;
    background-color: var(--color-orange);
    width: fit-content;
    border-radius: 32px;
    
}
.username {
    color: var(--color-white);
}
.userOrgInfo {
    background-color: var(--color-card);
    border-radius: 12px;
    border: 1px solid var(--color-border);
    padding: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}